.navbar {
    background: rgb(23, 24, 29);
    height: 5rem;
    width: 100vw;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 10px 5px 5px black;
}

.logo { 
    object-fit: cover;
    height: 5rem;
    width: 5rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover {
    color: #E09145;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #E09145;
}
.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
     
}
.desktopMenuImg { 
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.active {
    color: #F6B17A;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #F6B17A;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(41, 44, 53);
    border-radius: 1rem;
}

.listItem{
    color: #E09145;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(41, 44, 53);
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}