#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;     
}

.worksSubTitle{
    margin: 1rem;
    font-size: 2rem;
}
.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 65rem;
    padding: 0 2rem;
    margin-bottom: 1rem;
    text-align: left;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.worksImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
    cursor: pointer;
}


@media screen and (max-width: 585px) {
    .worksTitle {
        font-size: 2.5rem;     
    }
    .worksSubTitle{
        margin: 1rem;
        font-size: 2rem;
    }

    .worksImg {
        height: 55vw;

    }
    .worksImgs {
        max-width: 23rem;
    }
    .worksDesc {
        font-size: 0.9rem;
    }
    
}