#intro {
    padding-top: 12rem;
    height: calc(100vh - 4rem);
    width: 100vw;
    /*max-width: 75rem;*/
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg {
    position: absolute;
    top: 4rem;
    right: 42.5%;
    z-index: -3;
    object-fit: cover;
    height: 30vh;
    width: 30vh;
    box-shadow: 0px 0px 5px black;
    border-radius: 100%;
    transition: all 0.3s ease-in-out; /* Animación suave para cambios */
}

.introContent {
    height: 100vh;
    width: 100vw;
    margin-top: 8%;
    padding: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
}

.introName { 
    color: #F6B17A;
}

.introPara { 
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

/* Media query para pantallas medianas */
@media screen and (max-width: 840px) {
    .bg {
        height: 25vh; /* Reduce tamaño */
        width: 25vh;
        right: 30vw; /* Ajusta posición */
    }
    .introContent {
        margin-top: 20%;
        font-size: 2rem;
    }
    
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 480px) {
    .bg {
        height: 20vh; /* Tamaño más pequeño */
        width: 20vh;
        top: 6rem; /* Ajuste vertical */
        right: auto; /* Centra horizontalmente */
        left: 50%; /* Centra horizontalmente */
        transform: translateX(-50%); /* Centrado exacto */
    }
}